<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Contactos</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  
  <form>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Ex. António">
    </mat-form-field>
    <p>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. nome@dominio.com">
      </mat-form-field>
    </p>

    <p>
        <button mat-raised-button color="primary">Adicionar</button>
    </p>
  </form>
